<!-- Modal -->
<div class="modal fade" id="generateModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="generateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Generar password</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">

                    <div class="d-flex centered flex-column">
                        <div class="d-flex flex-row justify-content-center">
                            <div class="d-flex w-75 pe-2">
                                <input id="txt-password-generado" class="form-control" value="">
                            </div>

                            <button type="button" class="btn btn-secondary" id="txt-update-password">
                                <i class="bi bi-arrow-repeat"></i>
                            </button>
                        </div>
                        <div class="d-flex justify-content-center py-2">
                            <button type="button" class="btn btn-success" id="txt-copiar-password">
                                <i class="bi bi-clipboard"></i>
                            </button>
                        </div>
                    </div>

                    <div>
                        <hr class=" hr-blurry">
                        <div class="d-flex justify-content-between align-items-center">
                            <label class="form-label" for="txt-longitud-password">Longitud de la contraseña:</label>
                            <input class="form-control w-25 text-center" type="number" id="txt-longitud-password" value="16" min="8"
                                   max="32" required>
                        </div>
                        <hr class=" hr-blurry">
                    </div>

                    <div>
                        <h6 class="form-label">Incluir al generar contraseña:</h6>

                        <div class="d-flex align-items-center py-1">
                            <div class="form-switch form-check pe-1">
                                <input class="form-check-input" type="checkbox" id="txt-switch-mayusculas" checked>
                            </div>

                            <label class="form-check-label" for="txt-switch-mayusculas">Mayúsculas(A-Z)</label>
                        </div>

                        <div class="d-flex align-items-center py-1">
                            <div class="form-check form-switch pe-1">
                                <input class="form-check-input" type="checkbox" id="txt-switch-minusculas" checked>
                            </div>
                            <label class="form-check-label" for="txt-switch-minusculas">Minúsculas(a-z)</label>
                        </div>

                        <div class="d-flex align-items-center py-1">
                            <div class="form-switch form-check pe-1">
                                 <input class="form-check-input" type="checkbox" id="txt-switch-numeros" checked>
                            </div>
                            <label class="form-check-label" for="txt-switch-numeros">Números(0-9)</label>
                        </div>

                        <div class="d-flex flex-row align-items-center py-1">
                            <div class="form-check form-switch pe-1">
                                <input class="form-check-input pe-1" type="checkbox" id="txt-switch-caracteres" checked>
                            </div>

                            <div class="d-flex w-75">
                                <input type="text" id="txt-input-caracteres" name="txt-input-caracteres"
                                       class="form-control" value="!@#$%^&*()_-=+}]{[|/?\><,.:;">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

