{% extends "./plantilla.html" %}

{% block title %}Gestión de contraseñas{% endblock %}


{% block body %}

<div class="row justify-content-center">

    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-dismissible alert-success">
        <button type="button" class="close" data-bs-dismiss="alert">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong class="text-dark">{{ message }}</strong>
    </div>
    {% endfor %}
    {% endif %}

    <p>
        <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#addModal">
            Agregar contraseña
        </button>
    </p>

    <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8">

        <!--=== Include Form Add password  ===-->
        {% include 'addPassword.html' %}

    </div>


    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <h1>Listado de contraseñas</h1>
            <!--=== Include lista de password ===-->
            {% include 'listaDePassword.html' %}

    </div>
</div>

<div class="col-sm-12 col-md-12 col-lg-8 col-xl-8">

    <!--=== Include password generation modal ===-->
    {% include 'generatePassword.html' %}

</div>

{% endblock %}