{% extends "./plantilla.html" %}

{% block title %}Gestión de contraseñas{% endblock %}


{% block body %}

<div class="row justify-content-center">

    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-dismissible alert-success">
        <button type="button" class="close" data-bs-dismiss="alert">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong class="text-dark">{{ message }}</strong>
    </div>
    {% endfor %}
    {% endif %}

    <p>
        <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#addModal">
            Agregar contraseña
        </button>
    </p>

    <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8">

        <!--=== Include Form Add password  ===-->
        {% include 'addPassword.html' %}

    </div>


    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <h1>Listado de contraseñas</h1>
        <div class="d-flex flex-wrap gap-2">

            {% for i in passwords%}

            <div class="card border-dark mb-3" style="max-width: 18rem;">
                <div class="card-header">

                    <div class="d-flex flex-row justify-content-between align-items-center">
                        <div class="d-flex flex-column">
                            {{i.titulo}}
                        </div>

                        <div class="d-inline-flex justify-content-between gap-2">

                            <button class="btn btn-secondary" data-bs-toggle="modal"
                                    data-bs-target="#editModal{{i.id}}">
                                <i class="bi bi-pencil-square"></i>
                            </button>

                            <button class="btn btn-secondary" data-bs-toggle="modal"
                                    data-bs-target="#deleteModal{{i.id}}">
                                <i class="bi bi-trash3"></i>
                            </button>

                        </div>
                    </div>
                </div>
                <div class="card-body text-dark">
                    <h5 class="card-title"><a href="{{i.url}}" class="link-dark" target="_blank"
                                              rel="noreferrer noopener">
                        {{i.titulo}}
                    </a></h5>
                    <div class="d-flex flex-row">
                        <label class="form-label">Usuario:</label>
                        <p class="card-text">   {{i.usuario}}</p>
                    </div>

                    <div class="d-flex flex-row">
                        <label class="form-label">Contraseña:</label>
                        <p class="card-text">   {{i.password}}</p>
                    </div>

                    <div class="d-flex flex-row">
                        <label class="form-label">Descripcion:</label>
                        <p class="card-text">   {{i.descripcion}}</p>
                    </div>

                </div>
            </div>


            <!--=== Incluye modal de edit ===-->
            {% include 'editPassword.html' %}

            <!--=== Incluye modal de delete ===-->
            {% include 'deletePassword.html' %}

            {% endfor %}
        </div>
    </div>
</div>

<div class="col-sm-12 col-md-12 col-lg-8 col-xl-8">

    <!--=== Include password generation modal ===-->
    {% include 'generatePassword.html' %}

</div>

{% endblock %}