<!--Lista de Password-->
    <div class="row">

        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Sitio</th>
              <th scope="col">Nombre de usuario</th>
              <th scope="col">Contraseña</th>
            </tr>
          </thead>

          <tbody>
            {% for i in passwords%}
            <tr>
              <td><a class="link-dark" href="{{i.url}}" target="_blank" rel="noreferrer noopener">{{i.titulo}}</a></td>
              <td>{{i.usuario}}</td>
              <td>
                  <div class="d-flex justify-content-start">
                      <input type="password" id="password-{{i.id}}" class="bg-transparent border-0" value="{{i.password}}" disabled>
                      <div class="d-flex gap-1">
                          <button type="button" name="btnViewPassword" id="view-{{i.id}}"
                                  onmousedown="ver_password('password-{{i.id}}')"  onmouseup="ocultar_password('password-{{i.id}}')"
                                  class="btn rounded-circle btnViewPassword"

                                ><i class="bi bi-eye-fill"></i>
                          </button>

                          <button type="button" name="btnCopyPassword" id="copy-{{i.id}}"
                                  onclick="copiar_password('password-{{i.id}}')" class="btn rounded-circle btnCopyPassword">
                              <i class="bi bi-clipboard"></i>
                          </button>
                      </div>

                  </div>
              </td>
              <td>
                  <div class="dropdown">
                      <button type="button" class="btn rounded-circle" id="dropdown-{{i.id}}" data-bs-toggle="dropdown" aria-expanded="false" >
                          <i class="bi bi-three-dots-vertical"></i>
                      </button>

                      <ul class="dropdown-menu" aria-labelledby="dropdown-{{i.id}}">
                        <li>
                            <a class="dropdown-item" role="button" data-bs-toggle="modal" data-bs-target="#moreInfoModal{{i.id}}">

                                <div class="col d-flex gap-1">
                                    <i class="bi bi-info-circle"></i>
                                    <label class="form-label m-0"> Más información</label>
                                </div>
                            </a>

                        </li>

                        <li>
                            <a class="dropdown-item" role="button" data-bs-toggle="modal" data-bs-target="#editModal{{i.id}}">
                            Editar
                            </a>
                        </li>

                        <li><hr class="dropdown-divider"></li>

                        <li>
                            <a class="dropdown-item" role="button" data-bs-toggle="modal" data-bs-target="#deleteModal{{i.id}}">
                                Eliminar
                            </a>
                        </li>
                      </ul>
                  </div>
              </td>
            </tr>
                    <!--=== Incluye modal de edit ===-->
                    {% include 'editPassword.html' %}

                    <!--=== Incluye modal de delete ===-->
                    {% include 'deletePassword.html' %}

                    <!--=== Incluye modal de mas informacion ===-->
                    {% include 'masInformacionDePassword.html' %}



            {% endfor %}

          </tbody>
        </table>
    </div>